@model IEnumerable<MultiLabs.Models.LaboratoryTest>

@{
    ViewData["Title"] = "Testes";
}

<h1>Lista de Testes</h1>

<form asp-action="Index" asp-controller="Home" method="get">
    <div class="form-inline">
        <label>Filtrar por localidade:</label>&nbsp;
        <div class="form-group">
            <select name="local" asp-items="@ViewBag.Locals" class="form-control"></select>
        </div>
        <div class="form-group">
            &nbsp;<button class="btn btn-info" type="submit">Filter</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory.Local.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratory.Local.Name)
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Index" asp-controller="Home" method="get">
    <div class = "form-inline">
        &nbsp;<button class="btn btn-info" type="submit">Remover filtro</button>
        <input type="hidden" name="local" id="local" value="" />
    </div>
</form>
