@model IEnumerable<MultiLabs.Models.LaboratoryTesters>

@{
    ViewData["Title"] = "Técnicos";
}

<h1>Técnicos associados aos meus laboratórios</h1>

<p>
    <a asp-action="Create">Associar técnico a laboratório</a> |
    <a asp-action="Register">Registar um novo técnico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { LaboratoryId = item.LaboratoryId, UserId = item.UserId }) |
                @Html.ActionLink("Remover técnico", "Delete", new { LaboratoryId = item.LaboratoryId, UserId = item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
