@model IEnumerable<MultiLabs.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Todos os Agendamentos</h1>
<h5>Agendamentos dos seus laborátorios</h5>
@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            @if(User.IsInRole("LabTester")){
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Ver detalhes</a> |
                    @if (@item.TesterId == 1) {
                        <a asp-action="SelectSchedule" asp-route-id="@item.Id">Selecionar agendamento</a>
                    }else{
                        <a style="color:green; font-size:10pt">Já tem um técnico responsável.</a>
                    }                    
                </td>
            }
            @if (User.IsInRole("Client")) {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Ver detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Cancelar agendamento</a>
                </td>
            }
            </tr>
}
    </tbody>
</table>
