@model MultiLabs.Models.Laboratory

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Laboratório</h1>

<div>
    <h4>Laboratório</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
