@model IEnumerable<MultiLabs.Models.Laboratory>

@{
    ViewData["Title"] = "Index";
}

<h1>Laboratórios</h1>
@if (User.IsInRole("Admin") || User.IsInRole("LabManager")) {
    <p>
        <a asp-action="Create">Criar Laboratório</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @*Html.DisplayFor(modelItem => item.Name)*@
                    @*if (User.IsInRole("LabManager")) {
                        @Html.ActionLink(item.Name, "Index", "LaboratoryTests", new { LaboratoryId = item.Id}, null)
                    }else{
                        @Html.DisplayFor(modelItem => item.Name)
                    }*@
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Name)
            </td>
                @if (User.IsInRole("Admin") || User.IsInRole("LabManager")) {
                <td>
                    @Html.ActionLink("Testes disponibilizados", "Index", "LaboratoryTests", new { LaboratoryId = item.Id}, null) |
                    @Html.ActionLink("Gerir vagas", "Index", "TimeSlots", new { LaboratoryId = item.Id}, null) |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar Laboratório</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
                }
                @if (User.IsInRole("LabTester")) {
                    <td>
                        @Html.ActionLink("Ver agendamentos", "Index", "Schedules", new { LaboratoryId = item.Id}, null) |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                }
                @if (User.IsInRole("Client")) {
                    <td>
                        @Html.ActionLink("Agendar", "Create", "Schedules", new { LaboratoryId = item.Id}, null) |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
