@model IEnumerable<MultiLabs.Models.TimeSlots>

@{
    ViewData["Title"] = "Vagas";
}

<h1>Gestão de Vagas</h1>

<p>
    <a asp-action="Create">Criar slots para laboratório</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSlots)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSlots)
            </td>
            <td>
                @Html.ActionLink("Criar Vagas", "Create", "TimeSlots", new { LaboratoryId = item.Laboratory.Id}, null) |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar vagas</a>
            </td>
        </tr>
}
    </tbody>
</table>
