@model IEnumerable<MultiLabs.Models.LaboratoryTest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-LaboratoryId="@ViewBag.LaboratoryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { LaboratoryId = item.LaboratoryId, TestId = item.TestId})
            </td>
        </tr>
}
    </tbody>
</table>
